<h1>Criar Citação</h1>
<form action="/quotes/create" method="POST">
  <div class="form-control">
    <label for="description">Citação:</label>
    <textarea name="description" placeholder="Insira a citação" required></textarea>
  </div>

  <div class="form-control">
    <label for="author">Insira o autor:</label>
    <input type="text" name="author" placeholder="Insira o nome do autor" required>
  </div>

  <input type="submit" value="Cadastrar" class="btn">
</form>