* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica;
  font-size: 1.6rem;
  background-color: #2F4159;
  color: #FEFEFE;
}

/* NAVBAR */
.navbar {
  border-bottom: 1px solid #009a9a;
  padding: 1.2rem 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 1.8rem;
}

.navbar ul li a {
  text-decoration: none;
  transition: .5s;
  color: #FEFEFE;
}

.navbar ul li a:hover {
  text-decoration: underline;
  color: #009a9a;
}

/* CONTAINER */
.container {
  min-height: 60vh;
  padding: 2rem;
}

/* FOOTER */
footer {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #009a9a;
}

footer span {
  font-weight: bold;
  color: #009a9a;
}